@pitch-black: #1f2026;
@black-ice: #2c2d36;
@steel-gray: #5c6576;
@ice: #aac8dc;
@deep-water: #3f7997;
@snow-white: #ebeef0;
@ice-white: #dcdfe1;

@danger-red: #cc3629;
@safe-green: #a9dcc2;

.TextPitchBlack
{
    color: @pitch-black;
}

.TextBlackIce
{
    color: @black-ice;
}

.TextSteelGray
{
    color: @steel-gray;
}

.TextIce
{
    color: @ice;
}

.TextDeepWater
{
    color: @deep-water;
}

.TextSnowWhite
{
    color: @snow-white;
}

.TextIceWhite
{
    color: @ice-white;
}

.TextDangerRed
{
    color: @danger-red;
}

.TextSafeGreen
{
    color: @safe-green;
}

//Text size
.TextXSm
{
    font-size: 1.2vh;
}

.TextSm
{
    font-size: 1.6vh;
}

.TextMd
{
    font-size: 2.0vh;
}

.TextLg
{
    font-size: 2.5vh;
}

.TextXLg
{
    font-size: 3.0vh;
}

.TextCenter
{
    text-align: center;
}

.Margin1
{
    margin: 0.25vmax;
}

.Margin2
{
    margin: 0.5vmax;
}

.MarginTop1
{
    margin-top: 0.25vmax;
}

.MarginTop2
{
    margin-top: 0.5vmax;
}