div.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.Row {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row {
    flex-wrap: nowrap;
  }
}
.Row .Last {
  padding-right: 0 !important;
}
.Row .Col {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col.JustifyCenter {
  justify-content: center;
}
.Row .Col-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
  flex-basis: 50%;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-1 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-1.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  .Row .Col-1 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-1 {
    flex-basis: 12.5%;
  }
}
.Row .Col-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-2 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-2.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  .Row .Col-2 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-2 {
    flex-basis: 25%;
  }
}
.Row .Col-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-3 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-3.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  .Row .Col-3 {
    flex-basis: 75%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-3 {
    flex-basis: 37.5%;
  }
}
.Row .Col-4 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-4 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-4.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-4 {
    flex-basis: 50%;
  }
}
.Row .Col-5 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-5 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-5.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-5 {
    flex-basis: 62.5%;
  }
}
.Row .Col-6 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-6 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-6.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-6 {
    flex-basis: 75%;
  }
}
.Row .Col-7 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-7 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-7.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-7 {
    flex-basis: 87.5%;
  }
}
.Row .Col-8 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  .Row .Col-8 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
.Row .Col-8.JustifyCenter {
  justify-content: center;
}
div.Row-Md {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md {
    flex-wrap: nowrap;
  }
}
div.Row-Md .Last {
  padding-right: 0 !important;
}
div.Row-Md .Col {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col.JustifyCenter {
  justify-content: center;
}
div.Row-Md .Col-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
  flex-basis: 50%;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-1 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-1.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  div.Row-Md .Col-1 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-1 {
    flex-basis: 12.5%;
  }
}
div.Row-Md .Col-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-2 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-2.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  div.Row-Md .Col-2 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-2 {
    flex-basis: 25%;
  }
}
div.Row-Md .Col-3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-3 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-3.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  div.Row-Md .Col-3 {
    flex-basis: 75%;
  }
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-3 {
    flex-basis: 37.5%;
  }
}
div.Row-Md .Col-4 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-4 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-4.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-4 {
    flex-basis: 50%;
  }
}
div.Row-Md .Col-5 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-5 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-5.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-5 {
    flex-basis: 62.5%;
  }
}
div.Row-Md .Col-6 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-6 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-6.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-6 {
    flex-basis: 75%;
  }
}
div.Row-Md .Col-7 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-7 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-7.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-7 {
    flex-basis: 87.5%;
  }
}
div.Row-Md .Col-8 {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding-right: 1vmax;
  padding-bottom: 1vmax;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md .Col-8 {
    padding-right: 0.5vmax;
    padding-bottom: 0.5vmax;
  }
}
div.Row-Md .Col-8.JustifyCenter {
  justify-content: center;
}
@media screen and (min-width: 1280px) and (min-device-width: 1280px) {
  div.Row-Md {
    display: block;
  }
}
