@import 'colors';
@import 'queries';

html
{
    width:  100vw;
    height: 100vh;
}

body
{
    color:      @black-ice;
    background: @ice-white;

    padding:    0;
    margin:     0;

    *
    {
        font-family: 'Raleway', sans-serif;
        -webkit-user-drag: none;
        user-select: none;
    }

    span
    {
        cursor: default;
    }

    overflow-x: hidden;
}

BodyContent
{
    display: flex;
    width:   100vw;
    height:  100vh;
}

div.page
{
    height:   100vh;
    position: relative;
    display:  flex;
    flex:     1;

    div.content
    {
        max-width: 100vw;
        width:     100%;
        flex:      1;
    }
}

div.grid
{
    margin:    0.5vmax;
    display:   flex;
    flex-wrap: wrap;

    div.tile
    {
        display: flex;

        width:   100%;

        &:after
        {
            padding-top: 100%;
            display:     block;
            content:     '';
        }

        div.tile-content
        {
            flex:       1;
            margin:     0.5vmax;
            width:      auto;
            height:     auto;

            background: @snow-white;

            h1
            {
                margin:    0;
                font-size: 36em;
            }

            h2
            {
                margin:    0;
                font-size: 24em;
            }
        }
    }

    @media @screen-md
    {
        div.tile.square
        {
            width: 25%;

            &:after
            {
                padding-top: 100%;
                display:     block;
                content:     '';
            }
        }

        div.tile.wide
        {
            &.sm
            {
                width: 50%;

                &:after
                {
                    padding-top: 50%;
                    display:     block;
                    content:     '';
                }
            }

            &.lg
            {
                width: 100%;

                &:after
                {
                    padding-top: 25%;
                    display:     block;
                    content:     '';
                }
            }

        }
    }
}