.TextHeader {
  font-variant: small-caps;
  font-weight: bold;
}
.TextPitchBlack {
  color: #1f2026;
}
.TextBlackIce {
  color: #2c2d36;
}
.TextSteelGray {
  color: #5c6576;
}
.TextIce {
  color: #aac8dc;
}
.TextDeepWater {
  color: #3f7997;
}
.TextSnowWhite {
  color: #ebeef0;
}
.TextIceWhite {
  color: #dcdfe1;
}
.TextDangerRed {
  color: #cc3629;
}
.TextSafeGreen {
  color: #a9dcc2;
}
.TextXSm {
  font-size: 1.2vh;
}
.TextSm {
  font-size: 1.6vh;
}
.TextMd {
  font-size: 2.0vh;
}
.TextLg {
  font-size: 2.5vh;
}
.TextXLg {
  font-size: 3.0vh;
}
.TextXXLg {
  font-size: 6.0vh;
}
.TextXXXLg {
  font-size: 12.0vh;
}
.TextByWidth {
  font-size: 16px;
  white-space: nowrap;
}
.TextBold {
  font-weight: bold;
}
.TextCenter {
  text-align: center;
}
.TextJustify {
  text-align: justify;
}
.Margin1 {
  margin: 0.25vmax;
}
.Margin2 {
  margin: 0.5vmax;
}
.MarginTop1 {
  margin-top: 0.25vmax;
}
.MarginTop2 {
  margin-top: 0.5vmax;
}
.Circle {
  border-radius: 100%;
}
.HiddenDown {
  opacity: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  color: #2c2d36;
  background: #dcdfe1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body * {
  font-family: 'Raleway', sans-serif;
}
BodyContent {
  display: flex;
  width: 100vw;
  height: 100vh;
}
div.page {
  height: 100vh;
  position: relative;
  display: flex;
  flex: 1;
}
div.page div.content {
  max-width: 100vw;
  width: 100%;
  flex: 1;
}
div.grid {
  margin: 0.5vmax;
  display: flex;
  flex-wrap: wrap;
}
div.grid div.tile {
  display: flex;
  width: 100%;
}
div.grid div.tile:after {
  padding-top: 100%;
  display: block;
  content: '';
}
div.grid div.tile div.tile-content {
  flex: 1;
  margin: 0.5vmax;
  width: auto;
  height: auto;
  background: #ebeef0;
}
div.grid div.tile div.tile-content h1 {
  margin: 0;
  font-size: 36em;
}
div.grid div.tile div.tile-content h2 {
  margin: 0;
  font-size: 24em;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  div.grid div.tile.square {
    width: 25%;
  }
  div.grid div.tile.square:after {
    padding-top: 100%;
    display: block;
    content: '';
  }
  div.grid div.tile.wide.sm {
    width: 50%;
  }
  div.grid div.tile.wide.sm:after {
    padding-top: 50%;
    display: block;
    content: '';
  }
  div.grid div.tile.wide.lg {
    width: 100%;
  }
  div.grid div.tile.wide.lg:after {
    padding-top: 25%;
    display: block;
    content: '';
  }
}
