.TextBlackIce {
  color: #2c2d36;
}
.TextSteelGray {
  color: #5c6576;
}
.TextIce {
  color: #aac8dc;
}
.TextDeepWater {
  color: #3f7997;
}
.TextSnowWhite {
  color: #ebeef0;
}
.TextIceWhite {
  color: #dcdfe1;
}
.TextDangerRed {
  color: #cc3629;
}
.TextSafeGreen {
  color: #a9dcc2;
}
.TextXSm {
  font-size: 1.2vh;
}
.TextSm {
  font-size: 1.6vh;
}
.TextMd {
  font-size: 2.0vh;
}
.TextLg {
  font-size: 2.5vh;
}
.TextXLg {
  font-size: 2.6vh;
}
.TextCenter {
  text-align: center;
}
.Margin1 {
  margin: 0.25vmax;
}
.Margin2 {
  margin: 0.5vmax;
}
.MarginTop1 {
  margin-top: 0.25vmax;
}
.MarginTop2 {
  margin-top: 0.5vmax;
}
body {
  color: #2c2d36;
  background: #dcdfe1;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: sans-serif;
  font-size: 0.1vh;
  overflow: hidden;
}
div.page {
  position: relative;
  display: flex;
  flex: 1;
}
div.page div.content {
  flex: 1;
}
div.grid {
  margin: 0.5vmax;
  display: flex;
  flex-wrap: wrap;
}
div.grid div.tile {
  display: flex;
  width: 100%;
}
div.grid div.tile:after {
  padding-top: 100%;
  display: block;
  content: '';
}
div.grid div.tile div.tile-content {
  flex: 1;
  margin: 0.5vmax;
  width: auto;
  height: auto;
  background: #ebeef0;
}
div.grid div.tile div.tile-content h1 {
  margin: 0;
  font-size: 36em;
}
div.grid div.tile div.tile-content h2 {
  margin: 0;
  font-size: 24em;
}
@media screen and (min-width: 720px) and (min-device-width: 720px) {
  div.grid div.tile.square {
    width: 25%;
  }
  div.grid div.tile.square:after {
    padding-top: 100%;
    display: block;
    content: '';
  }
  div.grid div.tile.wide.sm {
    width: 50%;
  }
  div.grid div.tile.wide.sm:after {
    padding-top: 50%;
    display: block;
    content: '';
  }
  div.grid div.tile.wide.lg {
    width: 100%;
  }
  div.grid div.tile.wide.lg:after {
    padding-top: 25%;
    display: block;
    content: '';
  }
}
