<div class="NotificationCard">
    <div class="Bell TextLg"><i class="fa fa-bell TextDangerRed" aria-hidden="true"></i></div>
    <div class="Avatar"><img src="Assets/Images/default_notification.jpg"></div>
    <div class="Text">
        <h1 class="TextLg">Lorem ipsum</h1>
        <p class="TextSm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed turpis quis ante finibus feugiat vel nec mi. Cras eget venenatis eros, at vestibulum orci. Fusce sit amet est et ex pellentesque facilisis. Cras consequat sapien eu rhoncus egestas. Aliquam imperdiet lacus urna. Sed suscipit ornare nunc.</p>
    </div>
</div>