div.NotificationCard
{
    position:   relative;
    padding:    0.5vmax;
    background: rgba(0, 0, 0, 0.5);
    display:    flex;
    
    div.Bell
    {
        position: absolute;
        right:    0.5vmax;
        top:      0.5vmax;
    }
    
    div.Avatar
    {
        img
        {
            width: 4vmax;
            height: 4vmax;
            margin-right: 0.5vmax;
            border-radius: 100%;
        
            vertical-align: top;
            border: 0.2vmax solid #3f7997;
        }
    }
    
    div.Text
    {
        flex: 1;
        
        h1
        {
            margin: 0;
            
            
        }
        
        p
        {
            margin: 0;
        }
    }
}