@import '../../css/colors';
@import '../../css/queries';

div.LeftBar
{
    position:       fixed;
    left:           0;
    top:            0;
    z-index:        50;
    
    display:        flex;
    flex-direction: column;
    
    height:         100vh;
    width:          3em;
    
    background:     @black-ice;
    transition:     all 1s, height 1ms;
    
    border-right:   0.5vw solid @steel-gray;
    overflow:       hidden;
    
    color:          @snow-white;
    
    @media @screen-lg
    {
        width: 25vw;
    }
    
    &.open
    {
        width: 100vw;
        
        @media @screen-md
        {
            width: 50vw;
        }
        
        @media @screen-lg
        {
            width:      25vw;
            box-shadow: none;
        }
    }
    
    div.Menu
    {
        border-bottom: 0.25vh solid @steel-gray;
        
        div.MenuItem
        {
            padding: 0.5em;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background .5s;
            
            div.Icon
            {
                margin-right: 0.5em;
                height: 1em;
                font-size: 2em;
                
                img
                {
                    height: 1em;
                }
            }
            
            div.Caption
            {
                line-height: 2em;
                height: 2em;
            }
            
            &:hover
            {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    
        &.Dark
        {
            color: @steel-gray;
            background: @pitch-black;
        }
    }
    
    div.Notifications
    {
        padding: 0.5vmax;
        flex:       1;
    }
}

div.LeftBarPlaceholder
{
    height: 100vh;
    width:  5.5vw;
    
    @media @screen-lg
    {
        width: 25.5vw;
    }
}